:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --dark-grey: #1d1d1d;
  --gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --font-family: 'DM Sans', sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.25;
  --base-letter-spacing: -0.02em;
}

/* #region general */
ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

body {
  font-family: var(--font-family);
  letter-spacing: var(--base-letter-spacing);
  background-color: var(--black);
  color: var(--white);
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.06667;
  letter-spacing: -0.04em;
  color: var(--white);
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--white);
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--white);
  margin: 0;
  padding: 0;
}

p {
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 20px;
}

section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* #endregion */

/*footer cigdem ergal*/
.footer {
  font-family: 'DM Sans', sans-serif;
  background-color: #000;
  background-repeat:  repeat-y;
  overflow: hidden;
  background: url('../images/graphic.png');
  background-size: 133% auto;
  background-position: top center;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
.footer-label {
  flex: 1;
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-logo {
  display: inline-block;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  color: #fff;
  margin-bottom: 10px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-phone {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}

.footer-lists {
  display: flex;
  gap: 40px;
}

.footer-social-lists,
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}

.footer-link {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  transition: opacity 250ms ease;
  color: #fff;
}

.footer-link:hover,
.footer-link:focus {
  opacity: 1;
}

/* EMAIL AND GO BUTTON */
.footer-form {
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 355px;
  margin-top: 20px;
}

.footer-input {
  width: 267px;
  height: 60px;
  padding: 0 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  outline: transparent;
  background-color: #fff;
  color: #121212;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}

.footer-input::placeholder {
  color: #121212;
  opacity: 0.6;
}

.footer-btn {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: none;
  background-color: #1d1d1d;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.footer-btn:hover {
  background-color: #2d2d2d;
}

/* BOTTOM SECTION */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 80px;
  padding-top: 20px;
  /*border-top: 1px solid rgba(255, 255, 255, 0.1);*/
}

.footer-policy {
  display: flex;
  flex-direction: row-reverse;
  gap: 72px;
  margin: 0;
  padding: 0;
}

.footer-policy-link {
  font-size: 12px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
  transition: color 250ms ease;
  display: flex;
}

.footer-policy-link:hover {
  color: #fff;
}

.footer-copyright {
  font-size: 12px;

  line-height: 1.3;
  color: #fff;
  margin: inherit;
  justify-content: flex-end;
}
/* grafik */
.footer-graphic-container {
  width: 0;
  margin: 0 auto 20px;
  padding: 0 20px;
}
.footer-graphic {
  width: 100%;
  height: auto;
  display: block;
  color: white;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  .footer{
    background-size: 720px auto;
  }
  .footer-container {
    padding-left: 32px;
    padding-right: 32px;
  
  }
  .footer-graphic-container {
    max-width: 720px;
    margin: 0 auto 30px;
  }

  .footer-top {
    background-color: transparent;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }

  .footer-contacts {
    flex: 0 0 240px;
  }
  .footer-input {
    width: 100%;
    max-width: 178px;
  }

  .footer-lists {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .footer-form {
    flex: 0 0 260px;
    width: 100%;
    max-width: 260px;
    margin-left: 0;
    margin-top: 0;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

/* DESKTOP (1280px and up) */
@media (min-width: 1280px) {
  .footer{
    background-size: 1440px auto;
  }
  .footer-top {
    flex-wrap: nowrap;
    gap: 80px;
  }
  .footer-input {
    max-width: 178px;
  }

  .footer-lists {
    gap: 100px;
  }
  .footer-graphic-container {
    max-width: 1440px;
    margin: 0 auto 40px;
  }

  .footer-form {
    max-width: 540px;
  }
}
