:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --dark-grey: #1d1d1d;
  --gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --font-family: 'DM Sans', sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.25;
  --base-letter-spacing: -0.02em;
}

/* #region general */
ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

body {
  font-family: var(--font-family);
  letter-spacing: var(--base-letter-spacing);
  background-color: var(--black);
  color: var(--white);
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.06667;
  letter-spacing: -0.04em;
  color: var(--white);
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--white);
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--white);
  margin: 0;
  padding: 0;
}

p {
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 20px;
}

section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* #endregion */

/* #region media queries for tablets */
@media (min-width: 768px) {
}
/* #endregion */

/* #region media queries for desktop */
@media (min-width: 1280px) {
}
/* #endregion */
/* Reviews Section */
.reviews {
  width: 1240px;
  margin: 0 auto;
  padding: 50px 0;
}

.reviews-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.04em;
  color: var(--white);
  margin-bottom: 50px;
}

.reviews-cards {
  width: 1240px;
  display: flex;
  gap: 20px;
}

.review-card {
  width: 610px;
  height: 196px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background: #e0e0e0;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--white);
}

.user-role {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.stars {
  display: flex;
  gap: 4px;
}

.review-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--white);
}
.star-icon {
  width: 20px;
  height: 20px;
   fill: currentColor;
}  
.user-avatar img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
