:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --dark-grey: #1d1d1d;
  --gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --font-family: 'DM Sans', sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.25;
  --base-letter-spacing: -0.02em;
}

/* #region general */
ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

body {
  font-family: var(--font-family);
  letter-spacing: var(--base-letter-spacing);
  background-color: var(--black);
  color: var(--white);
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.06667;
  letter-spacing: -0.04em;
  color: var(--white);
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--white);
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--white);
  margin: 0;
  padding: 0;
}

p {
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 20px;
}

section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* #endregion */
/* region of advertisement */
.advertisement-marquee {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 40px auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 0 15px;
  min-width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: var(--base-letter-spacing);
  color: var(--brown);
  animation: marqueeLine 10s linear infinite;
}

.white-head {
  color: var(--white);
}

@keyframes marqueeLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.line-svg {
  width: 100%;
  height: 1px;
  position: absolute;
}

.top-line {
  top: 0;
}

.bottom-line {
  bottom: 0;
}
/* endofregion*/
/* region of about-us*/
.about-us,
.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us {
  align-items: flex-start;
  justify-content: flex-start;
  width: 335px;
}
.about-us-title {
  margin: 0;
  font-size: 28px;
  line-height: 1.14286;
}
.brown-head {
  color: var(--brown);
}
/* endregion*/
/* #region media queries for tablets */
@media (min-width: 768px) {
  .marquee__line {
    font-size: 40px;
    line-height: 1.25;
  }
  .about-us {
    width: calc(100% - 64px);
    gap: 50px;
    min-width: 704px;
  }
  .about-us-content {
    gap: 50px;
  }
  .about-us-title {
    font-size: 48px;
    line-height: 1.125;
  }
  .about-us img {
    width: 704px;
  }
  .about-us-text {
    gap: 40px;
    flex-direction: row;
    width: 600px;
  }
  .about-us-text p {
    width: 280px;
  }
}
/* #endregion */

/* #region media queries for desktop */
@media (min-width: 1280px) {
  .marquee__line {
    font-size: 59px;
    line-height: 1.08475;
  }
  .about-us {
    width: calc(100% - 200px);
  }
  .about-us-content {
    flex-direction: row;
  }
  .about-us-content img {
    width: clamp(488px, calc(-88px + 45vw), 560px);
  }
  .about-us-text {
    width: calc(552px + (100vw - 1280px) * 0.4875);
    max-width: 630px;
    gap: calc(40px - (1440px - 100vw) * 0.125);
  }
}
/* #endregion */
