:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --dark-grey: #1d1d1d;
  --gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --font-family: 'DM Sans', sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.25;
  --base-letter-spacing: -0.02em;
}

/* #region general */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

body {
  font-family: var(--font-family);
  letter-spacing: var(--base-letter-spacing);
  background-color: var(--black);
  color: var(--white);
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.06667;
  letter-spacing: -0.04em;
  color: var(--white);
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--white);
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--white);
  margin: 0;
  padding: 0;
}

p {
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 20px;
}

section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* #endregion */
header{
  background: var(--black) url('../images/background.png') no-repeat top center;
}

.header-border {
  margin: 0 auto;
  background-color: var(--black);
  width: 335px;
  width: 100%;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.right-header {
  display: flex;
  gap: 14px;
}

.camera-icon {
  fill: rgba(190, 166, 158, 40%);
}

.camera-icon-wrapper:active .camera-icon,
.camera-icon-wrapper:hover .camera-icon {
  fill: rgba(190, 166, 158, 100%);
}

.camera-icon-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 8px;
  color: var(--dark-grey);
}

.menu-wrapper,
.signup-button {
  display: none;
}

.menu-content {
  background-color: var(--brown);
  width: 218px;
  height: 812px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.menu-wrapper {
  background-color: rgba(18, 18, 18, 0.4);
  position: fixed;
  inset: 0;
  z-index: 999;
}

.is-open {
  display: flex;
}

.close-icon {
  fill: black;
  stroke: black;
}

.close-icon-wrapper {
  margin: 20px 20px 128px 166px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 133px;
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.link:active,
.link:hover {
  font-weight: 700;
}
/* #region media queries for tablets */
@media (min-width: 768px) {
  .header-container {
      margin: 0 auto;
      display: flex;
    }
  
    .signup-button {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0px;
      border-radius: 12px;
      padding: 16px 58px;
      width: 186px;
      height: 60px;
      background-color: var(--white);
      text-transform: uppercase;
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.55556;
      color: var(--black);
      white-space: nowrap;
    }
  
    .signup-button:active,
    .signup-button:hover {
      background-color: var(--dark-grey);
      color: var(--brown);
    }
  
    header {
      display: flex;
      padding: 20px 32px 40px 32px;
    }
  
    .header-border {
      width: 504px;
      height: 60px;
      margin: 0 14px 0 0;
    }
  
    .camera-icon-wrapper {
      display: none;
    }
  
    .menu-content {
      width: 480px;
      height: 100%;
    }
  
    .close-icon-wrapper {
      margin: 20px 32px 172px 408px;
    }
  
    .menu-list {
      gap: 28px;
      margin-left: 64px;
      margin-bottom: 114px;
    }
}
/* #endregion */

/* #region media queries for desktop */
@media (min-width: 1280px) {
  .header-border {
    width: calc(822px + (100vw - 1280px) * 0.5);
      max-width: 982px;
      padding: 21px 49px;
      margin-right: 20px;
      box-sizing: border-box;
    }
  
    header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .menu-icon-wrapper,
    .close-icon-wrapper,
    .menu-image {
      display: none;
    }
  
    .menu-content,
    .menu-wrapper {
      position: static;
    }
  
    .menu-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      height: 60px;
      background-color: transparent;
    }
  
    .menu-content {
      flex-direction: row;
      background-color: var(--black);
      height: auto;
      width: 502px;
      justify-content: center;
      align-items: center;
    }
  
    .menu-list {
      display: flex;
      flex-direction: row;
      gap: 28px;
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
    
    .link {
      color: var(--white);
    }
  
    .link:active,
    .link:hover {
      color: var(--brown);
    }
  
    .signup-button {
      width: calc(238px + (100vw - 1280px) * 0.00625);
      min-width: 238px;
      max-width: 239px;
      padding: 16px 84px;
      white-space: nowrap;
    }
}

/* #endregion */
